html,body{
	height: 100%;
	overflow: hidden;
	background: @bgcolor;
}
html,body,ul,li{
	margin: 0;
	padding: 0;
}
*{
	outline: none;
	color: @fontcolorblack;
}
ul,li{
	list-style: none;
}
a{
	text-decoration: none;
}
input[type="text"],input[type="number"]{
	border: 1px solid @lllbordercolor;
	height: 1.875rem;
	border-radius: 0.25rem;
	box-sizing: border-box;
	padding:0 0.25rem;
	&:hover{
		border-color: @lllblue;
	}
}
input[type='submit']{
	min-width: 5rem;
	height: 2.5rem;
	border: none;
	background: @lllblue;
	color: @fontcolorwhite;
	border-radius: @borderradius;
	cursor: pointer;
	letter-spacing: 0.1rem;
	&:hover{
		opacity: 0.8;
	}
}
.allcenter{
	display: flex;
	justify-content: center;
	align-items: center;
}
.transall{
	transition: all .3s ease-in;
}
@keyframes spin {
	to { transform: rotate(1turn); }
}